
.navbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 70%;
    height: 3.6rem;
    border-radius: 10%;
    justify-content: center;
    position: relative;
    left: 10%;
    background-image: linear-gradient(to right top, #ced9ee, #c2d6ef, #b5d3f0, #a5d1f0, #94cfee);

    

}

.navbar-list{
    display: flex;
    
}
li{
    margin-left: 13%;
    margin-top: 1%;
}
a{
    color: black;
}